* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    min-width: 18%!important;
    border-radius: 2px;
    /* border: 1px solid rgba(155, 155, 155, 0.2); */
    border-radius: 36px;
}

nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}
nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: none;
    border: none;
    border-radius: 2px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    transition: .2s all;
}
@media (max-width: 1140px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
   
    nav form.active{
        top: 95px;
        opacity: 1;
        pointer-events: auto;
        
    }
    nav form::before{
        position: absolute;
        content: "";
        top: 2px;
        right: 0;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #333;
        margin: 10px 10px 0;
        padding: .5rem 1rem;

    }
    nav form::after{
        position: absolute;
        content: "";
        height: 60px;
        padding: 2px;
        color: red;
        border-radius: 2px;
        min-width: calc(100% +20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(30%,30%);

    }
}
